<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModeloAdministracionAntonio" connectionString="data source=MARTIN-PC\SQLEXPRESS;initial catalog=AdministracionAntonio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="AdministracionAntonioEntities" connectionString="metadata=res://*/ModelAdministracionAntonio.csdl|res://*/ModelAdministracionAntonio.ssdl|res://*/ModelAdministracionAntonio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTIN-PC\SQLEXPRESS;initial catalog=AdministracionAntonio;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AdministracionComunidadEntities" connectionString="metadata=res://*/ModelAdministracionComunidad.csdl|res://*/ModelAdministracionComunidad.ssdl|res://*/ModelAdministracionComunidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARTIN-PC\SQLEXPRESS;initial catalog=AdministracionComunidad;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BaseDatos.Properties.Settings.AdministracionComunidadConnectionString"
      connectionString="Data Source=MARTIN-PC\SQLEXPRESS;Initial Catalog=AdministracionComunidad;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>